@charset "UTF-8";

/*Estas são as alterações para as telas de entrar e cadastro */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/*Esse link está esportando a font Poppins, ela será a fonte base do site*/

/*Estas serão as cores prinpais do projeto, se precisarem usar alguma cor, deem preferência a elas*/
:root{
    --Branco: #F2F2F2;
    --AzulClaro: #63BBF2;
    --Azul: #0F50A6;
    --AzulEscuro: #031D40;
    --Preto: #0D0D0D;
    --Verde: #04D9B2;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    /*Efeito de fundo*/
    background: linear-gradient(45deg, #1d05a6,#073f73, #040a40, #04c7d4);
    background-size: 400% 400%;
    animation: mover 12s ease infinite;
}

/*importação de css, ele movimenta o background no eixo x e y*/
@keyframes mover {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


main{
    background-color: rgb(239, 239, 249);
    border-radius: 15px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.447);
    display: flex;
    align-items: center;
}

#log{
    padding: 20px;
    width: 550px;
    text-align: center;
}

h1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

h2{
    font-weight: 500;
    color: var(--Azul);
    margin-bottom: 20px;
    font-size: 1.6em;
}


/*botão de deletar*/
.deletar{
    width: 40%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--AzulEscuro);
    color: white;
    margin-bottom: 10px;
    margin-left: 17px;
    font-size: 16px;
    cursor: pointer;
}

.deletar:hover{
    background-color: var(--AzulClaro);
    color: var(--AzulEscuro);
    transition: 0.4s;
}