@charset "UTF-8";

/*Estas são as alterações para as telas de entrar e cadastro */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/*Esse link está esportando a font Poppins, ela será a fonte base do site*/

/*Estas serão as cores prinpais do projeto, se precisarem usar alguma cor, deem preferência a elas*/
:root{
    --Branco: #F2F2F2;
    --AzulClaro: #63BBF2;
    --Azul: #0F50A6;
    --AzulEscuro: #031D40;
    --Preto: #0D0D0D;
    --Verde: #04D9B2;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    /*Efeito de fundo*/
    background: linear-gradient(45deg, #1d05a6,#290773, #041340, #033679);
    background-size: 400% 400%;
    animation: mover 12s ease infinite;
}

/*importação de css, ele movimenta o background no eixo x e y*/
@keyframes mover {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


main{
    background-color: rgb(239, 239, 249);
    border-radius: 15px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.447);
    display: flex;
    align-items: center;
}

#log{
    padding: 20px;
}

h1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

h2{
    font-weight: 500;
    color: var(--Azul);
    margin-bottom: 20px;
    font-size: 1.6em;
}

h3{
    text-align: center;
    font-weight: 500;
}

label{
    color: var(--AzulEscuro);
}
/*todos os inputs que não são o de cliente / prestador nas telas de cadastro */
.cadas{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--Azul);
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgb(236, 239, 245);
}

.cadas:hover{
    border: 1px solid var(--AzulClaro);
}


/*botão de cadastro*/
.cadastro{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--AzulEscuro);
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cadastro:hover{
    background-color: var(--AzulClaro);
    color: var(--AzulEscuro);
    transition: 0.4s;
}

.link{
    display: block;
    text-align: center;
    color: rgb(111, 111, 111);
    text-decoration: none;
    font-size: 0.95em;
}

.link:hover{
    text-decoration: underline;
}

/*configurações dos botões de Cliente / Prestador*/
.radio{
    display: none;
}

.labelgroup{
    background-color: var(--AzulClaro);
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.option{
    background-color: var(--AzulClaro);
    display: inline-block;
    border-radius: 15px;
    width: 45%;
    margin: 5px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.164);
}

.optiongroup{
    text-align: center;
    margin-top: 10px;
}

.radio:checked + .labelgroup {
    background-color: var(--Azul);
    color: white;
    transform: scale(1.05); 
    transition: 0.3s;
}
/*As configurações acima deixa marcado as opções que você escolheu*/

#img{
    width: 300px;
    height: 550px;
    background-image: url(../imagens/MiniTask.png);
    background-position: center;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
