@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --Branco: #F2F2F2;
    --AzulClaro: #63BBF2;
    --Azul: #0F50A6;
    --AzulEscuro: #031D40;
    --Preto: #0D0D0D;
    --Verde: #04D9B2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
}

#coluna1{
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: var(--Azul);
    color: white;
}

#coluna2{
    flex-grow: 3;
    border-right: 1px solid black;
    padding: 8px;
    position: relative;
}

header{
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: var(--AzulEscuro);
    color: white;
}

main{
    flex-grow: 30;
    flex-shrink: 2;
    background-color: rgb(241, 228, 212);
    position: relative;
    box-shadow: inset 3px 3px 20px #0f50a651;
}

h1{
    font-weight: 550;
    text-align: center;
}

h2{
    font-weight: 500;
}

a{
    text-decoration: none;
}

#menuIcone{
    border: 1px solid var(--AzulEscuro);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
    font-size: 2em;
}

#menuIcone:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 5px #63bbf25f;
}

#infogroup{
    margin-bottom: 20px;
}

#infogroup > h2{
    margin-bottom: 10px;
    text-align: left;
    padding: 9px;
}

input{
   border-radius: 10px;
   padding: 3px;
   background-color: whitesmoke;
   width: 100%;
}

input:hover{
    box-shadow: 0px 0px 10px #0f50a66e;
    scale: 1.02;
    transition: 0.2s;
}

#contato{
    display: flex;
    flex-flow: column nowrap;
}

.contatos{
    padding: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.nome, .deletar{
    border: none;
    cursor: pointer;
    padding: 5px;
}

.nome{
    background-color: white;
}

.nome:hover{
    scale: 1.02;
    font-weight: bold;
}

.deletar{
    background-color: var(--Azul);
    padding: 8px;
    border-radius: 10px;
}

.deletar:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.315);
}

#adicionar{
    width: 80px;
    height: 78px;
    background-color: var(--AzulClaro);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: absolute;
    top: 80%;
    left: 55%;
}

#adicionar:hover{
    background-color: #04D9B2;
    box-shadow: 0px 0px 30px #04d9b24a;
    scale: 1.1;
}

#sem_contato{
    border: 1px solid black;
    font-size: 13px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.234);
}